<div class="flex flex-row items-center bg-blue-200 px-4 py-2">
  @if ((currentUser$ | async)?.role === RoleEnum.ROLE_ADMIN) {
    <button mat-button routerLink="user">Felhasználók</button>
    <button mat-button routerLink="location">Telephelyek</button>
  } @else {
    <button mat-button routerLink="patient">Páciensek</button>
  }
  <div class="flex-grow"></div>
  <div class="mx-4">{{ (currentUser$ | async)?.username }}</div>
  <button mat-icon-button color="primary" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>
