<div class="flex flex-col items-center">
  <mat-card class="w-full p-8">
    <div class="mb-6 text-center text-2xl">Páciens szűrő</div>
    <form [formGroup]="patientFilterForm">
      <div class="flex flex-row gap-4">
        <mat-form-field class="mb-4 w-full" appearance="outline">
          <mat-label>Név</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field class="mb-4 w-full cursor-pointer" appearance="outline">
          <mat-label>Születési év</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="year"
            (focus)="picker?.open()"
            readonly />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker
            #picker
            startView="multi-year"
            (yearSelected)="chosenYearHandler($event, picker)"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="mb-4 w-full" appearance="outline">
          <mat-label>Neme</mat-label>
          <mat-select formControlName="sex">
            <mat-option [value]="SexEnum.MAN">Férfi</mat-option>
            <mat-option [value]="SexEnum.WOMAN">Nő</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mb-4 w-full" appearance="outline">
          <mat-label>TAJ szám</mat-label>
          <input matInput type="text" formControlName="socialSecurityNumber" />
        </mat-form-field>
        <app-searchable-select
          class="mb-4 w-full"
          formControlName="serviceProviderId"
          [multiple]="true">
        </app-searchable-select>
      </div>
      <div class="flex flex-row justify-end gap-4">
        <button mat-flat-button color="primary" (click)="onFilter()">
          <mat-icon>search</mat-icon>
          Szűrés
        </button>
        <button mat-flat-button color="warn" (click)="onClearFilters()">
          <mat-icon>clear</mat-icon>
          Szűrők törlése
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card class="my-6 w-full p-4">
    <div class="flex flex-row items-center justify-between">
      <button mat-flat-button color="primary" routerLink="new">
        <mat-icon>add</mat-icon>
        Új páciens
      </button>
      <mat-paginator
        [length]="paginationConfig.totalElements"
        [pageSize]="paginationConfig.pageSize"
        [pageIndex]="paginationConfig.pageIndex"
        [pageSizeOptions]="[4, 8, 16]"
        showFirstLastButtons
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </mat-card>
  @if (paginationConfig.totalElements) {
    <div class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-2 lg:grid-cols-4">
      @for (patient of patients; track $index) {
        <mat-card class="w-full items-center gap-4 p-4">
          <div class="mb-4 mt-8">
            <mat-icon class="scale-[3]">account_circle</mat-icon>
          </div>
          <div class="text-xl text-gray-600">{{ patient.name }}</div>
          <div class="flex flex-col items-center">
            <div class="font-medium">TAJ</div>
            <div>{{ patient.socialSecurityNumber }}</div>
          </div>
          <div class="flex flex-col items-center">
            <div class="font-medium">Telephely</div>
            <div>{{ patient.serviceProvider.shortName }}</div>
          </div>
          <div class="flex flex-row gap-4">
            <button mat-flat-button [routerLink]="[patient.id, 'edit']">Szerkesztés</button>
            <button mat-flat-button [routerLink]="[patient.id, 'view']">Megtekintés</button>
          </div>
        </mat-card>
      }
    </div>
  } @else {
    <p class="text-xl">Nincs találat</p>
  }
</div>
