<app-card
  [title]="title"
  [changeType]="changeType"
  [formGroup]="createUserForm"
  (create)="onCreateUser()"
  (edit)="onEditUser()"
  (delete)="onDeleteUser()"
  [showSaveButtonOnEditMode]="false">
  <form [formGroup]="createUserForm" #myForm="ngForm">
    <mat-form-field class="mb-4 w-full" appearance="outline">
      <mat-label>Felhasználónév</mat-label>
      <input matInput type="text" formControlName="username" required />
      <mat-error *ngIf="username?.hasError('required') && username?.touched">
        Kötelező mező!
      </mat-error>
      <mat-error *ngIf="username?.hasError('usernameExists')"> Username already exists. </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-4 w-full" appearance="outline">
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="password?.invalid && password?.touched">Kötelező mező!</mat-error>
    </mat-form-field>

    @if (changeType === ChangeTypeEnum.EDIT) {
      <button
        mat-flat-button
        class="mb-8 w-full"
        [disabled]="createUserForm.controls.password.invalid"
        (click)="onPasswordChange()">
        Jelszó módosítása
      </button>
    }

    <mat-form-field class="mb-4 w-full" appearance="outline">
      <mat-label>Szerepkör</mat-label>
      <mat-select formControlName="role">
        <mat-option [value]="RoleEnum.ROLE_USER">Felhasználó</mat-option>
        <mat-option [value]="RoleEnum.ROLE_ADMIN">Adminisztrátor</mat-option>
      </mat-select>
      <mat-error *ngIf="role?.invalid && role?.touched">Kötelező mező!</mat-error>
    </mat-form-field>
  </form>
</app-card>
